body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: #191919;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

.App {
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 4px 0;
}

p {
  margin: 0;
}

.info-panel {
  position: absolute;
  background-color: #ddd;
  opacity: 0.5;
  width: 160px;
  max-height: 200px;
  overflow: auto;
  padding: 8px;
}

.info-panel li:not(:last-child) {
  border-bottom: 1px solid #999;
}

select {
  border: none;
  border-radius: 0;
  font-size: 16px;
}

button {
  background-color: white;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid gray;
}

@media only screen and (min-width: 400px) {
  .info-panel {
    width: 180px;
  }
}

@media only screen and (min-width: 500px) {
  .info-panel {
    width: 250px;
  }
}

@media only screen and (min-width: 780px) {
  .info-panel {
    width: 350px;
  }
}

.desktop-info {
  display: none;
}

@media only screen and (min-width: 780px) {
  .desktop-info {
    display: block;
  }

  .mobile-info {
    display: none;
  }
}

.close {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
}
